<div class="row">
    <div class="col col-12">
        <h3 class="h3">The Value of Money</h3>
    </div>
    <figure class="figure">
        <img src="./img/dollar.jpg" alt="description of image" />
        <figcaption> The Value of Money</figcaption>
    </figure>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu varius nisi. Quisque turpis purus, sollicitudin vitae ultrices pretium, placerat at lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Nunc rhoncus lacus sit amet lacinia mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non leo vel purus sodales vestibulum. In semper tellus sit amet lacus vulputate viverra. Vestibulum at tellus neque. Duis a erat et metus tincidunt maximus non at tortor. Curabitur volutpat laoreet est eu interdum. Duis rutrum ullamcorper augue non vehicula. Vestibulum imperdiet porta lobortis. Vivamus ut ligula non nibh ullamcorper convallis congue quis dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum finibus feugiat leo a euismod.
    </p>
</div>

<br>
<hr>
<br>

<div class="row">
    <div class="col col-12">
        <h3 class="h3">GMO food</h3>
    </div>
    <figure class="figure">
        <img src="./img/gmo-food.jpg" alt="description of image" />
        <figcaption>GMO food</figcaption>
    </figure>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu varius nisi. Quisque turpis purus, sollicitudin vitae ultrices pretium, placerat at lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Nunc rhoncus lacus sit amet lacinia mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non leo vel purus sodales vestibulum. In semper tellus sit amet lacus vulputate viverra. Vestibulum at tellus neque. Duis a erat et metus tincidunt maximus non at tortor. Curabitur volutpat laoreet est eu interdum. Duis rutrum ullamcorper augue non vehicula. Vestibulum imperdiet porta lobortis. Vivamus ut ligula non nibh ullamcorper convallis congue quis dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum finibus feugiat leo a euismod.
    </p>
</div>

<br>
<hr>
<br>

<div class="row">
    <div class="col col-12">
        <h3 class="h3">The View of World in 2100</h3>
    </div>
    <figure class="figure">
        <img src="./img/2100.jpg" alt="description of image" />
        <figcaption>The View of World in 2100</figcaption>
    </figure>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu varius nisi. Quisque turpis purus, sollicitudin vitae ultrices pretium, placerat at lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Nunc rhoncus lacus sit amet lacinia mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non leo vel purus sodales vestibulum. In semper tellus sit amet lacus vulputate viverra. Vestibulum at tellus neque. Duis a erat et metus tincidunt maximus non at tortor. Curabitur volutpat laoreet est eu interdum. Duis rutrum ullamcorper augue non vehicula. Vestibulum imperdiet porta lobortis. Vivamus ut ligula non nibh ullamcorper convallis congue quis dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum finibus feugiat leo a euismod.
    </p>
</div>

<br>
<hr>
<br>
